<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link rel="stylesheet" href="style.css">
    

</head>

<body>
    <header class="container">
          <!-- <div class="left"> -->
                    <div class="logo">
                        <img src="./images/_Logo__4_-removebg-preview.png" alt="">
                    </div>
                    <div class="links">
                        <a href="#">HOME</a>
                        <a href="#">PLAY NOW</a>
                        <a href="#">GAME INFO</a>
                        <a href="#">NEWS</a>
                        <a href="#">SUPPORT</a>
                    </div>

                <!-- </div> -->
                <div class="right">
                    <button class=" btn sign">sign in</button>
                    <button class="btn sign">sign up</button>
                </div>
    </header>
    <main>
        <div class="hero">
            <h1 class="h1">A 5v5 <br> character-based tac<span>tical</span> shooter Game</h1>
            <img src="./images/sova.png" alt="">
        </div>
        <div class="btn-group">
            <button>PLAY</button>
            <button>WATCH</button>
            <button>DOWNLOAD</button>
        </div>

    </main>
    <div class="brands">
        <a href="#"><img src="./images/twi.png" alt="" height="80px" width="80"></a>
        <a href="#"><img src="./images/dis.png" alt="" height="80px" width="80"></a>
        <a href="#"><img src="./images/msi.png" alt="" height="80px" width="80"></a>
        <a href="#"><img src="./images/nvi.png" alt="" height="80px" width="80"></a>
        <a href="#"><img src="./images/int.png" alt="" height="80px" width="80"></a>
        <a href="#"><img src="./images/ste.png" alt="" height="80px" width="80"></a>
    </div>

    <section >
        <div class="mid">
        
            <div class="lefts">
                <h2>MAPS Listed</h2>
                <p>With over 1 millions+ players available online</p>
            </div>
            <div class="rights">
                <a href="#" class="previous round">&#8249;</a>
                <a href="#" class="next round">&#8250;</a>
            </div>
        </div>
    </section>


    <section class="maps">
        <div class="acsent">
            <a href="#">
                <img src="./images/Ascent.png" alt="" width="300px" height="300px">
                <h4>ACSENT</h4>
                <h5><ion-icon name="location-outline"></ion-icon>  45°26'BF' N 12°20'Q' E  in Venice, Italy</h5>
            </a>
            </div>
        
        <div class="bind">
            <a href="#">
                <img src="./images/bind.jpg" alt="" width="300px" height="300px">
                <h4>BIND</h4>
                <h5><ion-icon name="location-outline"></ion-icon> 34°2'A" N 6°51'Z" W Rabat, Morocco.</h5>
            </a>
            </div>
        
        
            <div class="heaven">
                <a href="#">
                <img src="./images/heaven.jpg" alt="" width=300px" height="300px">
                <h4>HEAVEN</h4>
                <h5><ion-icon name="location-outline"></ion-icon> 27°28'A" N 89°38'WZ" E  in Thimphu, Bhutan.</h5>
            </a>
        </div>
        
            <div class="ice">
                <a href="#">
                <img src="./images/ice.jpg" alt="" width="300px" height="300px">
                <h4>ICEBOX</h4>
                <h5><ion-icon name="location-outline"></ion-icon> 27°28'A" N 89°38'WZ" E in Thimphu, Bhutan</h5>

            </a>
        </div>
    </section>
    
    <section>
        <div class="our">
            <h3>OUR PROGRAM</h3>
            <p>How you can play effectively</p>
        </div>
<div class="features">
        <div>
           
            <a href="#" img><img src="./images/stream.png" alt="" width="100px"></a> <h4>Stream your game <br>online</h4>
        </div>
        <div>
            
            <a href="#"><img src="./images/friends.png" alt="" width="100px"></a><h4>Make new friends <br>ingame</h4>
        </div>
        <div>
            
            <a href="#"><img src="./images/tournament.png" alt="" width="100px"></a><h4>Participate in the <br>tournament</h4>
        </div>
        <div>
            
            <a href="#"><img src="./images/pc.png" alt="" width="100px"></a><h4>Use good computer <br>components</h4>
        </div>
    </div>
    </section>
    <section>
        <div class="review">
            <h3>CLIENT REVIEWS</h3>
            <p>We Build In Trust With our <br>Clients & Agents</p>
        </div>
    </section>
    <section class="row">
        <div class="column">
          <img src="./images/review 1.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">
          <img src="./images/review 2.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="./images/review 3.jpg" alt="Mountains" style="width:100%">
        </div>
    </section>
    
    <div class="right">
        <a href="#" class="previous round">&#8249;</a>
        <a href="#" class="next round">&#8250;</a>
    </div>

    <section class="pro">
        <div class="words">
            <h3>JOIN WITH US</h3>
            <p>Do You Want To Be A <br>Agent ?</p>
            <button>join Now</button>
        </div>
        <div class="players">
            <div class="tenz">
            <img src="./images/tenz.png" alt="" width="300px" height="400px"><p>&#8213;TenZ<br> Professional Gamer</p>
            </div>
            <div class="ninja">
            <img src="./images/ninja.jpg" alt="" width="300px" height="400px" class="ninja"><p>&#8213;Ninja<br> Professional Gamer</p>
        </div>
        <div class="shroud">
            <img src="images/shroud.jpg" alt="" width="300px" height="400px" class="shroud"><p>&#8213;Shroud<br> Professional Gamer</p>
        </div>
        </div>
</section>
<section class="background">
<div >
        <img src="./images/jett.png" alt="">
    <div class="jett">
        <h4><span>Get listed</span> your home <br>as a owner</h4>
        <h6>put your email address and get listed</h6>
    </div>
    <div class="input">
        <input type="email" placeholder="Enter your email address" class="email">
        <button class="btn">Get Listed</button>
    </div>

</div>
</section>


<footer>
    <div class="row1">
        <div class="column1">
            <img src="./images/_Logo__4_-removebg-preview.png" alt="">
            <p class="p1">We commiteed to ensure digital accessiblity for individuals</p>
            <div class="pay">
            <img src="./images/pay.png" alt="" width="60px">
            <img src="./images/visa.png" alt="" width="60px">
            <img src="./images/master.png" alt="" width="60px">    
        </div>
        </div>
        <div class="column2">
            <h3>SUPPORT</h3>
            <ul>
            <li><a href="#">Help videos</a></li>
            <li><a href="#">Accesories</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">View Booking</a></li>
            <li><a href="#">Features</a></li>
        </ul>
            
        </div>
        <div class="column2">
            <h3>Services</h3>
            <ul>
                <li><a href="#">Payment & Tax</a></li>
            <li><a href="#">Accesories</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Features</a></li>
            </ul>
            
        </div>
        <div class="column2">
            <h3>About</h3>
            <ul>
                <li><a href="#">About us</a></li>
            <li><a href="#">Announcements</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Features</a></li></ul>
        </div>
        <div class="column4">
          <h3>Our Address</h3>
          <p class="p1">1485 Par Drive,Burbank Street,California,CA</p>
          <div class="social">
              <img src="./images/face.png" alt=""  width="40px"><img src="./images/tw.png" alt="" width="40px"><img src="./images/g.png" alt="" width="40px"><img src="./images/yt (1).png" alt="" width="40px">
          </div>            
        </div>
    </div>

</footer>
<hr>




    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>